Airflow-Spark/openjdk-16.0.2_linux-x64_bin.tar.gz
Airflow-Spark/spark-3.3.1-bin-hadoop3.tgz
Airflow-Spark/java
Airflow-Spark/spark
Airflow-Spark/data/initial_load
Airflow-Spark/airflow/dags/__pycache__
Airflow-Spark/airflow/logs
Airflow-Spark/airflow/dags/__pycache__
Airflow-Spark/airflow/dags/__pycache__
Airflow-Spark/airflow/dags/__pycache__/Spark.cpython-37.pyc
*.pyc
Airflow-Spark/cassandra
nlp/old
OLD