jupyter-client==7.4.7
jupyter-core==5.0.0
matplotlib-inline==0.1.6
numpy==1.23.5
pandas==1.5.2
plotly==5.11.0
pydeck==0.8.0
streamlit==1.15.1
transformers
darts
sqlalchemy
pymysql
mysql-connector-python
keybert
streamlit_authenticator== 0.2.1