div.css-1r6slb0.e1tzin5v2 {
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

div.css-1l269bu.e1tzin5v2{
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

div.css-1l269bu.e1tzin5v2{
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    
}

date-header {
    padding-left: 10px;
    padding-top: 5px;
    background: url(https://th.bing.com/th/id/OIP.ZjmgEFYM8T_JBt4b7udGvgHaHa?pid=ImgDet&rs=1) center left no-repeat;
    }

div.st-au.st-ax.st-av.st-aw.st-bf.st-bh.st-b8.st-b3.st-b4.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq.st-br.st-b1.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by{
    background-color: #E4FFED;
    border-radius: 5px;
}

li.css-1ydtmse.e1wbw4rs0.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bf.st-bg.st-dm.st-bt.st-dn.st-cg.st-do.st-b1.st-bs.st-as.st-dp.st-dq.st-ao.st-aq.st-dl{
    background-color: #E4FFED;
    border-radius: 5px;
}

div.st-bf.st-bg.st-bz.st-c0.st-c1.st-b3.st-c2.st-c3.st-bh.st-c4.st-c5.st-c6.st-c7{
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    border-radius: 5px;
}

div.st-bf.st-bg.st-b3.st-d1.st-c2.st-d2.st-c7{
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    border-radius: 5px;   
}

div.st-au.st-ax.st-av.st-aw.st-bf.st-bh.st-b8.st-b3.st-b4.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq.st-br.st-b1.st-bs.st-bt.st-d7.st-d8.st-d9.st-da.st-by{
    background-color: #E4FFED;
    border: 2px solid #E4FFED;
    border-radius: 5px; 
}